@use "sass:color";
@use "./colors" as *;

input,
select {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);

  &:focus,
  &:active {
    outline: none;
    border-color: var(--color-primary);
  }
}

.modal input {
  background-color: color.adjust($white, $lightness: -10%);
  border-color: color.adjust($gray-300, $lightness: -10%);

  @media (prefers-color-scheme: dark) {
    background-color: color.adjust($black, $lightness: -10%);
    border-color: color.adjust($inverse-gray-700, $lightness: -10%);
  }

  &:focus,
  &:active {
    outline: none;
    border-color: var(--color-primary);
  }
}
